{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Righteous|Noto+Sans+KR|Nanum+Gothic+Coding" rel="stylesheet">
    <title>{% block title %}{% endblock %} | Subscribe BaeJino</title>
</head>
<body>
    <div class="container">
        <div class="mainheading">
        <h1 class="sitetitle">BaeJino</h1>
        <p class="lead">
            Subscribe to blog.
        </p>
        </div>
        <hr>
        {% block content %}
        {% endblock %}
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://baejino.com">BaeJino</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if request.get_full_path == "/" %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                <a href="/">Log in</a></li>
                
                {% if request.get_full_path == "/signup" %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                <a href="/signup">Sign up</a></li>

                {% if request.get_full_path == "/home" %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                <a href="/home">Home</a></li>

                {% if request.get_full_path == "/setting" %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                <a href="/setting">Setting</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Realate Link <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="https://github.com/baealex">GiHub</a></li>
                    <li><a href="#">YouTube</a></li>
                    <li class="divider"></li>
                    <li><a href="mailto:im@baejino.com">Send Mail</a></li>
                </ul>
                </li>
            </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <script
    src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>